.apoyar-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.apoyar-frame-cmoapoyar {
  width: 375px;
  height: 842px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 375px;
  box-shadow: 60.000003814697266px 60.000003814697266px 60.000003814697266px 0px rgba(44, 0, 70, 0.10000000149011612) ;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 44px;
  background-color: rgba(242, 240, 243, 1);
}
.apoyar-frame274 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 785px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.apoyar-frame275 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 785px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.apoyar-text {
  top: 587px;
  left: 134px;
  color: rgba(140, 128, 151, 1);
  width: 188px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.apoyar-navlink {
  display: contents;
}
.apoyar-image101122145removebgpreview2 {
  top: 622px;
  left: 42px;
  width: 324px;
  height: 122px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 1px;
  text-decoration: none;
}
.apoyar-text01 {
  top: 124px;
  left: 36px;
  color: rgba(32, 14, 50, 1);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.apoyar-text02 {
  top: 245px;
  left: 10px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .apoyar-text02 {
    top: 258px;
    left: 49px;
  }
}
