.cursos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.cursos-pginainicio {
  width: 375px;
  height: 842px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 375px;
  box-shadow: 60.000003814697266px 60.000003814697266px 60.000003814697266px 0px rgba(44, 0, 70, 0.10000000149011612) ;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 44px;
  background-color: rgba(242, 240, 243, 1);
}
.cursos-frame274 {
  top: -4px;
  left: 0px;
  width: 375px;
  height: 785px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.cursos-chat {
  top: 413px;
  left: 16px;
  width: 343px;
  height: 148px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.cursos-frame241 {
  top: 100px;
  left: 15.999959945678711px;
  width: 184px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.cursos-frame240 {
  margin: 0 16px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.cursos-frame24101 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle163 {
  top: 1.6010426406865008e-7px;
  left: -0.00000986409213510342px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame242 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16301 {
  top: 1.6010426406865008e-7px;
  left: -0.000002499283255019691px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame243 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16302 {
  top: 1.6010426406865008e-7px;
  left: 0.000004865525625064038px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame244 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16303 {
  top: 1.6010426406865008e-7px;
  left: 0.00001024669109028764px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame245 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16304 {
  top: 1.6010426406865008e-7px;
  left: 0.000017611499060876667px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame246 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16305 {
  top: 1.6010426406865008e-7px;
  left: -0.000005541269729292253px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-text {
  color: rgba(140, 128, 151, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: 121.64444923400879%;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-text01 {
  top: 55px;
  left: 92px;
  color: rgba(32, 14, 50, 1);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-text02 {
  top: 70px;
  left: 93px;
  color: rgba(140, 128, 151, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-frame24102 {
  top: 16.99993896484375px;
  left: 91.99996948242188px;
  width: 219px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
}
.cursos-text03 {
  color: rgba(32, 14, 50, 1);
  width: 219px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-button {
  top: 100px;
  left: 256.9999694824219px;
  width: 70px;
  height: 32px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(173, 140, 234, 1);
}
.cursos-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-svg {
  top: 18px;
  left: 16px;
  width: 64;
  height: 64;
  position: absolute;
}
.cursos-chat1 {
  top: 576px;
  left: 20px;
  width: 343px;
  height: 148px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.cursos-frame24103 {
  top: 100px;
  left: 15.999959945678711px;
  width: 184px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.cursos-frame2401 {
  margin: 0 16px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.cursos-frame24104 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16306 {
  top: 1.6010426406865008e-7px;
  left: -0.00000986409213510342px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2421 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16307 {
  top: 1.6010426406865008e-7px;
  left: -0.000002499283255019691px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2431 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16308 {
  top: 1.6010426406865008e-7px;
  left: 0.000004865525625064038px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2441 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16309 {
  top: 1.6010426406865008e-7px;
  left: 0.00001024669109028764px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2451 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16310 {
  top: 1.6010426406865008e-7px;
  left: 0.000017611499060876667px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2461 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16311 {
  top: 1.6010426406865008e-7px;
  left: -0.000005541269729292253px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-text05 {
  color: rgba(140, 128, 151, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: 121.64444923400879%;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-text06 {
  top: 40.999881744384766px;
  left: 91.99996948242188px;
  color: rgba(32, 14, 50, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-text07 {
  top: 59.99983596801758px;
  left: 91.99996948242188px;
  color: rgba(140, 128, 151, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-button1 {
  top: 100px;
  left: 256.9999694824219px;
  width: 70px;
  height: 32px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(173, 140, 234, 1);
}
.cursos-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-rectangle16312 {
  top: 18px;
  left: 16px;
  width: 64px;
  height: 64px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(173, 140, 234, 1);
}
.cursos-frame2422 {
  top: 18px;
  left: 88px;
  width: 219px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
}
.cursos-text09 {
  top: 3px;
  left: 88px;
  color: rgba(32, 14, 50, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-cursos {
  top: 738px;
  left: 20px;
  width: 343px;
  height: 148px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.cursos-frame24105 {
  top: 100px;
  left: 15.999959945678711px;
  width: 187px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.cursos-frame2402 {
  margin: 0 16px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.cursos-frame24106 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16313 {
  top: 1.6010426406865008e-7px;
  left: -0.00000986409213510342px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2423 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16314 {
  top: 1.6010426406865008e-7px;
  left: -0.000002499283255019691px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2432 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16315 {
  top: 1.6010426406865008e-7px;
  left: 0.000004865525625064038px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2442 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16316 {
  top: 1.6010426406865008e-7px;
  left: 0.00001024669109028764px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2452 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16317 {
  top: 1.6010426406865008e-7px;
  left: 0.000017611499060876667px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2462 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16318 {
  top: 1.6010426406865008e-7px;
  left: -0.000005541269729292253px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-text13 {
  color: rgba(140, 128, 151, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: 121.64444923400879%;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-text14 {
  top: 51px;
  left: 92px;
  color: rgba(32, 14, 50, 1);
  width: 194px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-text15 {
  top: 64px;
  left: 92px;
  color: rgba(140, 128, 151, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-frame24107 {
  top: 16.99993896484375px;
  left: 91.99996948242188px;
  width: 180px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.cursos-text16 {
  color: rgba(32, 14, 50, 1);
  width: 180px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-button2 {
  top: 100px;
  left: 218.99996948242188px;
  width: 108px;
  height: 32px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(173, 140, 234, 1);
}
.cursos-text17 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-rectangle16319 {
  top: 18px;
  left: 16px;
  width: 64px;
  height: 64px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(173, 140, 234, 1);
}
.cursos-text18 {
  top: 71.00009155273438px;
  left: 22.000059127807617px;
  color: rgba(32, 14, 50, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-frame683 {
  top: 123px;
  left: 22px;
  width: 343px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.cursos-frame273 {
  top: 8.999933242797852px;
  left: 15.999959945678711px;
  width: 234px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.cursos-iconsearch {
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cursos-text19 {
  color: rgba(140, 128, 151, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-frame2741 {
  top: 8.99993896484375px;
  left: 16px;
  width: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.cursos-iconsearch1 {
  width: 20px;
  height: 20px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cursos-text20 {
  top: 183px;
  left: 34px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-text21 {
  top: 183px;
  left: 34px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-chat2 {
  top: 221px;
  left: 22px;
  width: 343px;
  height: 148px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.cursos-frame24108 {
  top: 100px;
  left: 15.999959945678711px;
  width: 187px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.cursos-frame2403 {
  margin: 0 16px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.cursos-frame24109 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16320 {
  top: 1.6010426406865008e-7px;
  left: -0.00000986409213510342px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2424 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16321 {
  top: 1.6010426406865008e-7px;
  left: -0.000002499283255019691px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2433 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16322 {
  top: 1.6010426406865008e-7px;
  left: 0.000004865525625064038px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2443 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16323 {
  top: 1.6010426406865008e-7px;
  left: 0.00001024669109028764px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2453 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16324 {
  top: 1.6010426406865008e-7px;
  left: 0.000017611499060876667px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-frame2463 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.cursos-rectangle16325 {
  top: 1.6010426406865008e-7px;
  left: -0.000005541269729292253px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.cursos-text22 {
  color: rgba(140, 128, 151, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: 121.64444923400879%;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-text23 {
  top: 40.999881744384766px;
  left: 91.99996948242188px;
  color: rgba(32, 14, 50, 1);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-text24 {
  top: 59.99983596801758px;
  left: 91.99996948242188px;
  color: rgba(140, 128, 151, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-frame24110 {
  top: 16.99993896484375px;
  left: 91.99996948242188px;
  width: 180px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.cursos-text25 {
  color: rgba(32, 14, 50, 1);
  width: 180px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-button3 {
  top: 100px;
  left: 218.99996948242188px;
  width: 108px;
  height: 32px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(173, 140, 234, 1);
}
.cursos-text26 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-text27 {
  top: 379px;
  left: 35px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cursos-tabbar {
  top: 761px;
  left: 0px;
  width: 375px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.8999999761581421);
}
.cursos-icon {
  top: 24.000011444091797px;
  left: 128.7500457763672px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.cursos-navlink {
  display: contents;
}
.cursos-icon1 {
  top: 24.000011444091797px;
  left: 222.50006103515625px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.cursos-navlink1 {
  display: contents;
}
.cursos-icon2 {
  top: 24.000011444091797px;
  left: 316.25006103515625px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.cursos-navlink2 {
  display: contents;
}
.cursos-image360f292969762xd-i-pl86ke-o403hm4h-vyhq-a-d-dj-w-lq-dq-mbremovebgpreview2 {
  top: 7px;
  left: 42px;
  width: 50px;
  height: 55px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.cursos-svg1 {
  top: 236.99993896484375px;
  left: 38px;
  width: 64;
  height: 64;
  position: absolute;
}
.cursos-rectangle16326 {
  top: 236.99993896484375px;
  left: 38px;
  width: 64px;
  height: 64px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(173, 140, 234, 1);
}
