.registro-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.registro-bg {
  width: 375px;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.registro-svg {
  top: 48.000144958496094px;
  left: -114.99998474121094px;
  width: 381;
  height: 381;
  position: absolute;
}
.registro-svg1 {
  top: -41.999900817871094px;
  left: 128.0000457763672px;
  width: 381;
  height: 381;
  position: absolute;
}
.registro-svg2 {
  top: 638px;
  left: 509.0000915527344px;
  width: 381;
  height: 381;
  position: absolute;
}
.registro-rectangle161 {
  top: -19px;
  left: 0px;
  width: 375px;
  height: 812px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.75);
}
.registro-button {
  top: 212px;
  left: 24px;
  width: 328px;
  height: 45px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.registro-button1 {
  top: 299px;
  left: 24px;
  width: 328px;
  height: 45px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px black;
}
.registro-button2 {
  top: 382px;
  left: 23px;
  width: 328px;
  height: 45px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px black;
}
.registro-button3 {
  top: 462px;
  left: 24px;
  width: 328px;
  height: 45px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px black;
}
.registro-button4 {
  top: 545px;
  left: 24px;
  width: 328px;
  height: 45px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px black;
}
.registro-button5 {
  top: 626px;
  left: 24px;
  width: 328px;
  height: 45px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px black;
}
.registro-button06 {
  top: 218px;
  left: 24px;
  width: 328px;
  height: 45px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px black;
}
.registro-text {
  top: 114px;
  left: 83px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text04 {
  top: 186px;
  left: 95px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text05 {
  top: 271px;
  left: 89px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text06 {
  top: 356px;
  left: 90px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text07 {
  top: 437px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text08 {
  top: 516px;
  left: 54px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-text09 {
  top: 599px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-button6 {
  top: 697px;
  left: 85px;
  width: 185px;
  height: 45px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(173, 140, 234, 1);
}
.registro-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.registro-status-bar-light {
  top: 4px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.registro-status-bar-wi-fi {
  top: 13px;
  left: 292px;
  width: 41px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.registro-bounds {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  opacity: 0.00;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(150, 150, 150, 1);
  border-width: 0px;
  background-color: rgba(250, 62, 62, 1);
}
.registro-bounds1 {
  top: 0px;
  left: 21px;
  width: 20px;
  height: 20px;
  opacity: 0.00;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(150, 150, 150, 1);
  border-width: 0px;
  background-color: rgba(250, 62, 62, 1);
}
.registro-svg3 {
  top: 4.604999542236328px;
  left: 23.872406005859375px;
  width: 15;
  height: 11;
  position: absolute;
}
.registro-status-bar-service {
  top: 17.75px;
  left: 293.5px;
  width: 17px;
  height: 10.5px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.registro-svg4 {
  width: 17;
  height: 11;
  position: absolute;
}
.registro-time {
  top: 14.000097274780273px;
  left: 28px;
  width: 27px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.registro-text11 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
