.ayuda-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ayuda-pginaforos {
  width: 375px;
  height: 842px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 375px;
  box-shadow: 60.000003814697266px 60.000003814697266px 60.000003814697266px 0px rgba(44, 0, 70, 0.10000000149011612) ;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 44px;
  background-color: rgba(242, 240, 243, 1);
}
.ayuda-frame274 {
  top: 0px;
  left: -4px;
  width: 375px;
  height: 785px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.ayuda-chat {
  top: 119px;
  left: 20px;
  width: 344px;
  height: 628px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.ayuda-frame241 {
  top: 100px;
  left: 15.999959945678711px;
  width: 0px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.ayuda-text {
  top: 150.4244842529297px;
  left: 16.385093688964844px;
  color: rgba(140, 128, 151, 1);
  width: 311px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ayuda-text01 {
  top: 11px;
  left: 17px;
  color: rgba(32, 14, 50, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ayuda-frame240 {
  top: 68.5926742553711px;
  left: 93.13945770263672px;
  width: 144px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.ayuda-frame2411 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.ayuda-rectangle163 {
  top: 1.6010426406865008e-7px;
  left: -0.00000986409213510342px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.ayuda-frame242 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.ayuda-rectangle1631 {
  top: 1.6010426406865008e-7px;
  left: -0.000002499283255019691px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.ayuda-frame243 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.ayuda-rectangle1632 {
  top: 1.6010426406865008e-7px;
  left: 0.000004865525625064038px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.ayuda-frame244 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.ayuda-rectangle1633 {
  top: 1.6010426406865008e-7px;
  left: 0.00001024669109028764px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.ayuda-frame245 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.ayuda-rectangle1634 {
  top: 1.6010426406865008e-7px;
  left: 0.000017611499060876667px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.ayuda-frame246 {
  width: 24.000001907348633px;
  height: 32px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.ayuda-rectangle1635 {
  top: 1.6010426406865008e-7px;
  left: -0.000005541269729292253px;
  width: 32px;
  height: 32px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.ayuda-rectangle1636 {
  top: 239.24534606933594px;
  left: 16.569822311401367px;
  width: 73px;
  height: 73px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.ayuda-rectangle164 {
  top: 333.2505798339844px;
  left: 16.70696258544922px;
  width: 73px;
  height: 73px;
  position: absolute;
  box-sizing: content-box;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40.000003814697266px;
}
.ayuda-text02 {
  top: 246.5673370361328px;
  left: 102.50623321533203px;
  color: rgba(32, 14, 50, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ayuda-text03 {
  top: 343.563232421875px;
  left: 101.61588287353516px;
  color: rgba(32, 14, 50, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ayuda-button {
  top: 109.29866790771484px;
  left: 122.7670669555664px;
  width: 82px;
  height: 32px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(173, 140, 234, 1);
}
.ayuda-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ayuda-text05 {
  top: 71.0001220703125px;
  left: 22px;
  color: rgba(32, 14, 50, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ayuda-text06 {
  top: 332.4208068847656px;
  left: 33.80660629272461px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ayuda-text07 {
  top: 432.1693115234375px;
  left: 116.89452362060547px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ayuda-text08 {
  top: 511.2210388183594px;
  left: 122.16913604736328px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ayuda-tabbar {
  top: 761px;
  left: 0px;
  width: 375px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.8999999761581421);
}
.ayuda-icon {
  top: 24.000011444091797px;
  left: 35.00004959106445px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.ayuda-navlink {
  display: contents;
}
.ayuda-icon1 {
  top: 24.000011444091797px;
  left: 128.7500457763672px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.ayuda-navlink1 {
  display: contents;
}
.ayuda-icon2 {
  top: 24.000011444091797px;
  left: 222.50006103515625px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.ayuda-navlink2 {
  display: contents;
}
.ayuda-icon3 {
  top: 24.000011444091797px;
  left: 316.25006103515625px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.ayuda-navlink3 {
  display: contents;
}
.ayuda-image360f292969762xd-i-pl86ke-o403hm4h-vyhq-a-d-dj-w-lq-dq-mbremovebgpreview1 {
  top: 8px;
  left: 22px;
  width: 50px;
  height: 55px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.ayuda-button1 {
  top: 695px;
  left: 201px;
  width: 140px;
  height: 32px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(173, 140, 234, 1);
}
.ayuda-text09 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
