.comunidad-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.comunidad-pginacomunidad {
  width: 375px;
  height: 842px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 375px;
  box-shadow: 60.000003814697266px 60.000003814697266px 60.000003814697266px 0px rgba(44, 0, 70, 0.10000000149011612) ;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 44px;
  background-color: rgba(242, 240, 243, 1);
}
.comunidad-frame274 {
  top: 0px;
  left: -4px;
  width: 375px;
  height: 785px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.comunidad-group248 {
  top: 231px;
  left: 189px;
  width: 149px;
  height: 162px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.comunidad-chat {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 162px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.comunidad-text {
  top: -40px;
  left: 6px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-navlink {
  display: contents;
}
.comunidad-svg {
  top: 17px;
  left: 43px;
  width: 64;
  height: 64;
  position: absolute;
  text-decoration: none;
}
.comunidad-text01 {
  top: 131px;
  left: 24px;
  color: rgba(140, 128, 151, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-text02 {
  top: 94px;
  left: 24px;
  color: rgba(32, 14, 50, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-button {
  top: 704px;
  left: 213px;
  width: 152px;
  height: 32px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(173, 140, 234, 1);
}
.comunidad-text03 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-button1 {
  top: 469.5194091796875px;
  left: 22px;
  width: 166px;
  height: 51.767494201660156px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(173, 140, 234, 1);
}
.comunidad-text04 {
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-button2 {
  top: 541.5194091796875px;
  left: 22px;
  width: 166px;
  height: 51.767494201660156px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(173, 140, 234, 1);
}
.comunidad-text05 {
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-button3 {
  top: 612.9268798828125px;
  left: 22px;
  width: 210px;
  height: 51.77000045776367px;
  display: flex;
  padding: 9px 27px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(173, 140, 234, 1);
}
.comunidad-text06 {
  color: rgba(255, 255, 255, 1);
  width: 172px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-button4 {
  top: 467.5194091796875px;
  left: 195px;
  width: 166px;
  height: 51.77000045776367px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(173, 140, 234, 1);
}
.comunidad-text07 {
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-button5 {
  top: 538.5194091796875px;
  left: 195px;
  width: 166px;
  height: 51.767494201660156px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(173, 140, 234, 1);
}
.comunidad-text08 {
  color: rgba(255, 255, 255, 1);
  width: 123px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-chat1 {
  top: 115px;
  left: 22px;
  width: 316px;
  height: 77px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.comunidad-frame241 {
  top: 16.99993896484375px;
  left: 91.99996948242188px;
  width: 56px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
}
.comunidad-text09 {
  top: 0px;
  left: 5px;
  color: rgba(32, 14, 50, 1);
  width: 307px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-svg1 {
  top: 418px;
  left: 112px;
  width: 21;
  height: 0;
  position: absolute;
}
.comunidad-text10 {
  top: 71.0001220703125px;
  left: 22px;
  color: rgba(32, 14, 50, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-group247 {
  top: 231px;
  left: 22px;
  width: 149px;
  height: 162px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.comunidad-chat2 {
  top: 0px;
  left: 0px;
  width: 149px;
  height: 162px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
.comunidad-text11 {
  top: -40px;
  left: 6px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-svg2 {
  top: 17px;
  left: 43px;
  width: 64;
  height: 64;
  position: absolute;
}
.comunidad-text12 {
  top: 131px;
  left: 24px;
  color: rgba(140, 128, 151, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-text13 {
  top: 91px;
  left: 22px;
  color: rgba(32, 14, 50, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-text14 {
  top: 438px;
  left: 28px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-text15 {
  top: 406px;
  left: 28px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-text16 {
  top: 200px;
  left: 28px;
  color: rgba(140, 128, 151, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.comunidad-tabbar {
  top: 761px;
  left: 0px;
  width: 375px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.8999999761581421);
}
.comunidad-navlink1 {
  display: contents;
}
.comunidad-icon {
  top: 24.000011444091797px;
  left: 128.7500457763672px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.comunidad-navlink2 {
  display: contents;
}
.comunidad-icon1 {
  top: 24.000011444091797px;
  left: 222.50006103515625px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.comunidad-navlink3 {
  display: contents;
}
.comunidad-icon2 {
  top: 24.000011444091797px;
  left: 316.25006103515625px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.comunidad-navlink4 {
  display: contents;
}
.comunidad-image360f292969762xd-i-pl86ke-o403hm4h-vyhq-a-d-dj-w-lq-dq-mbremovebgpreview1 {
  top: 11px;
  left: 33px;
  width: 50px;
  height: 55px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
