.pantalladeinicio-container {
  min-height: 100vh;
}
.pantalladeinicio-pantalladeinicio {
  width: 382px;
  height: 772px;
  display: flex;
  position: relative;
  max-width: 382px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pantalladeinicio-chats {
  top: 0px;
  left: 7px;
  width: 375px;
  height: 842.0000610351562px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 60.000003814697266px 60.000003814697266px 60.000003814697266px 0px rgba(44, 0, 70, 0.10000000149011612) ;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 8px;
  border-radius: 44px;
  background-color: rgba(242, 240, 243, 1);
}
.pantalladeinicio-bg {
  top: 0px;
  left: 1px;
  width: 374px;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.pantalladeinicio-svg {
  top: 48.000144958496094px;
  left: -114.99998474121094px;
  width: 381;
  height: 381;
  position: absolute;
}
.pantalladeinicio-svg1 {
  top: 638px;
  left: 509.0000915527344px;
  width: 381;
  height: 381;
  position: absolute;
}
.pantalladeinicio-svg2 {
  top: 548px;
  left: 266.00006103515625px;
  width: 381;
  height: 381;
  position: absolute;
}
.pantalladeinicio-rectangle161 {
  top: -22px;
  left: 0px;
  width: 375px;
  height: 812px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.75);
}
.pantalladeinicio-button {
  top: 573px;
  left: 94px;
  width: 185px;
  height: 45px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(173, 140, 234, 1);
}
.pantalladeinicio-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pantalladeinicio-button1 {
  top: 638px;
  left: 94px;
  width: 185px;
  height: 45px;
  display: flex;
  padding: 9px 16px 10px 16px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(173, 140, 234, 1);
}
.pantalladeinicio-text01 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pantalladeinicio-frame686 {
  top: 497px;
  left: 48px;
  width: 279px;
  height: 51px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.pantalladeinicio-text02 {
  top: 0px;
  left: 13px;
  color: rgba(54, 15, 126, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pantalladeinicio-text08 {
  top: 703px;
  left: 128px;
  color: rgba(54, 15, 126, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pantalladeinicio-svg3 {
  top: 720px;
  left: 189.508056640625px;
  width: 59;
  height: 1;
  position: absolute;
}
.pantalladeinicio-frame685 {
  top: 48px;
  left: 57px;
  width: 266px;
  height: 118px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.pantalladeinicio-svg4 {
  top: 171.4314422607422px;
  left: 56.88705825805664px;
  width: 264;
  height: 319;
  position: absolute;
}
.pantalladeinicio-image101122145removebgpreview2 {
  top: 32px;
  left: 32px;
  width: 324px;
  height: 122px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 1px;
}
.pantalladeinicio-i-b1 {
  top: 197px;
  left: 14px;
  width: 352px;
  height: 232px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pantalladeinicio-status-bar-light {
  top: 4px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.pantalladeinicio-status-bar-wi-fi {
  top: 13px;
  left: 292px;
  width: 41px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pantalladeinicio-bounds {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  opacity: 0.00;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(150, 150, 150, 1);
  border-width: 0px;
  background-color: rgba(250, 62, 62, 1);
}
.pantalladeinicio-bounds1 {
  top: 0px;
  left: 21px;
  width: 20px;
  height: 20px;
  opacity: 0.00;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(150, 150, 150, 1);
  border-width: 0px;
  background-color: rgba(250, 62, 62, 1);
}
.pantalladeinicio-svg5 {
  top: 4.604999542236328px;
  left: 23.872406005859375px;
  width: 15;
  height: 11;
  position: absolute;
}
.pantalladeinicio-status-bar-service {
  top: 17.75px;
  left: 293.5px;
  width: 17px;
  height: 10.5px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pantalladeinicio-svg6 {
  width: 17;
  height: 11;
  position: absolute;
}
.pantalladeinicio-time {
  top: 14.000091552734375px;
  left: 28px;
  width: 27px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pantalladeinicio-text09 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: PT Sans;
  font-weight: 400px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.pantalladeinicio-group251 {
  top: 761px;
  left: 0px;
  width: 375px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pantalladeinicio-tabbar {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.8999999761581421);
}
.pantalladeinicio-icon {
  top: 24.000011444091797px;
  left: 128.75006103515625px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pantalladeinicio-icon1 {
  top: 24.000011444091797px;
  left: 222.50006103515625px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pantalladeinicio-icon2 {
  top: 24.000011444091797px;
  left: 316.25006103515625px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pantalladeinicio-image360f292969762xd-i-pl86ke-o403hm4h-vyhq-a-d-dj-w-lq-dq-mbremovebgpreview1 {
  top: 765px;
  left: 46px;
  width: 50px;
  height: 55px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
